{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "eqeqeq": ["error", "smart"],
    "max-len": ["error", 80],
    "no-use-before-define": 0,
    "react/jsx-boolean-value": ["error", "always"],
    "react/jsx-no-bind": ["error", {
      "allowArrowFunctions": true
    }],
  }
}